.grid-header {
  display: block;
}
.button-section {
  display: flex;
  align-items: center;
}
mat-grid-tile {
  background: lightgray;
}
mat-grid-tile:nth-child(odd) {
  background: azure;
}
mat-grid-tile:nth-child(1) {
  background: lightyellow;
}

.full-field {
  width: 80%;
}

mat-grid-tile-header {
  justify-content: center;
}
.title-header {
  color: yellow;
}
/* list-container {
  height: 200px;
  overflow-y: auto;
} */
