/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;
@import "bootstrap/scss/bootstrap";
//import angular material styles
// @import '@angular/material/prebuilt-themes/rose-red.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
